<form name="form" method="post">
    Width <input type="number" value="500" name="width" min="0" max="1000" /><br />
    Height <input type="number" value="500" name="height" min="0" max="1000" /><br />
    Scale <input type="number" value="2" name="scale" min="0" max="100" /><br />
    Milis per step <input type="number" value="1" name="timescale" min="0" max="1600" /><br />
    Clean grid <input type="checkbox" id="clean" /><br />
    Glider <input type="checkbox" id="glider" /><br />
    Const <input type="checkbox" id="const" /><br />
    Oscylator <input type="checkbox" id="oscylator" /><br />
    <input type="button" value="Start new" onclick="run()">
    <input type="button" value="Pause/Unpause" onclick="changeFlag()">
</form>

<canvas id="myCanvas" style="border:1px solid #000000;"></canvas>

<script>
    let gridHeight;
    let gridWidth;
    let scale;
    let theGrid;
    let timeScale;
    let clean;
    let glider;
    let constant;
    let oscylator;
    let c = document.getElementById("myCanvas");
    c.addEventListener('click', on_canvas_click, false);
    let ctx = c.getContext("2d");
    let flag = true;

    function on_canvas_click(ev) {

        glider = document.getElementById("glider").checked;
        constant = document.getElementById("const").checked;
        oscylator = document.getElementById("oscylator").checked;

        let y = ev.clientX - c.offsetLeft;
        let x = ev.clientY - c.offsetTop;

        if (glider)
        {
            drawGlider(parseInt(x / scale), parseInt(y / scale));
        } else if (constant)
        {
            drawConst(parseInt(x / scale), parseInt(y / scale));
        } else if (oscylator)
        {
            drawOscylator(parseInt(x / scale), parseInt(y / scale));
        } else if (theGrid[parseInt(x / scale)][parseInt(y / scale)] == 1)
        {
            theGrid[parseInt(x / scale)][parseInt(y / scale)] = 0;
        } else
        {
            theGrid[parseInt(x / scale)][parseInt(y / scale)] = 1;
        }
        drawGrid();
        //console.log(x+":"+y);
        //console.log(theGrid);
    }

    function changeFlag() {
        flag = !flag;
        timeScale = parseInt(document.forms["form"]["timescale"].value);

    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function drawGlider(x, y) {
        theGrid[x + 1][y - 1] = 1;
        theGrid[x + 1][y] = 1;
        theGrid[x + 1][y + 1] = 1;
        theGrid[x][y + 1] = 1;
        theGrid[x - 1][y] = 1;
    }

    function drawConst(x, y) {
        theGrid[x][y - 1] = 1;
        theGrid[x + 1][y] = 1;
        theGrid[x - 1][y] = 1;
        theGrid[x + 1][y + 1] = 1;
        theGrid[x - 1][y + 1] = 1;
        theGrid[x][y + 2] = 1;
    }

    function drawOscylator(x, y) {
        theGrid[x - 1][y] = 1;
        theGrid[x][y] = 1;
        theGrid[x + 1][y] = 1;
    }
    /*
                                    x-
                     x-     y-      |       x-  y+
                                    |
                y-  ------------------------------------  y+
                                    |
                     x+     y-      x+       x+  y+
                                    |
    
    
    */
    function run() {

        flag = true;
        scale = parseInt(document.forms["form"]["scale"].value);
        gridWidth = parseInt(document.forms["form"]["width"].value);
        gridHeight = parseInt(document.forms["form"]["height"].value);
        timeScale = parseInt(document.forms["form"]["timescale"].value);
        clean = document.getElementById("clean").checked;

        theGrid = createArray(gridHeight);

        c.width = gridWidth * scale;
        c.height = gridHeight * scale;

        fillRandom();
        tick();

        if (clean)
        {
            flag = false;
        }
    }

    function tick() {
        //console.time("loop");
        if (flag)
        {
            updateGrid();
            drawGrid();
        }
        //console.timeEnd("loop");
        setTimeout(tick, timeScale);
        //requestAnimationFrame(tick);
    }

    function createArray(rows) {
        let arr = [];
        for (let i = 0; i < rows; i++)
        {
            arr[i] = [];
        }
        return arr;
    }

    function fillRandom() {
        for (let j = 0; j < gridHeight; j++)
        {
            for (let k = 0; k < gridWidth; k++)
            {
                if (clean)
                {
                    theGrid[j][k] = 0;
                } else
                {
                    theGrid[j][k] = Math.round(Math.random());
                }

            }
        }
    }

    function drawGrid() {
        let liveCount = 0;
        ctx.clearRect(0, 0, gridWidth * scale, gridHeight * scale);
        for (let j = 0; j < gridHeight; j++)
        {
            for (let k = 0; k < gridWidth; k++)
            {
                if (theGrid[j][k] === 1)
                {
                    ctx.fillRect(k * scale, j * scale, scale, scale);
                    liveCount++;
                }
            }
        }
        //console.log(liveCount);
    }

    function specialNeighbors(x, y) {

        let numberOfNeighbors = 0;

        const prevRow = (x - 1 + gridHeight) % gridHeight;
        const currentRow = x % gridHeight;
        const nextRow = (x + 1) % gridHeight;

        const prevCell = (y - 1 + gridWidth) % gridWidth;
        const currentCell = y % gridWidth;
        const nextCell = (y + 1) % gridWidth;

        if (theGrid[prevRow][prevCell] == 1) numberOfNeighbors++;
        if (theGrid[prevRow][currentCell] == 1) numberOfNeighbors++;
        if (theGrid[prevRow][nextCell] == 1) numberOfNeighbors++;

        if (theGrid[currentRow][prevCell] == 1) numberOfNeighbors++;
        if (theGrid[currentRow][nextCell] == 1) numberOfNeighbors++;

        if (theGrid[nextRow][prevCell] == 1) numberOfNeighbors++;
        if (theGrid[nextRow][currentCell] == 1) numberOfNeighbors++;
        if (theGrid[nextRow][nextCell] == 1) numberOfNeighbors++;

        return numberOfNeighbors;

    }

    function updateGrid() {

        let tempGrid = createArray(gridHeight);

        for (let j = 0; j < gridHeight; j++)
        {
            for (let k = 0; k < gridWidth; k++)
            {
                let numberOfNeighbors = specialNeighbors(j, k);
                if (numberOfNeighbors == 3)
                {
                    tempGrid[j][k] = 1;
                } else if (numberOfNeighbors > 3)
                {
                    tempGrid[j][k] = 0;
                } else if (numberOfNeighbors < 2)
                {
                    tempGrid[j][k] = 0;
                } else
                {
                    tempGrid[j][k] = theGrid[j][k];
                }
            }
        }
        theGrid = tempGrid;
    }

</script>