<form name="form" method="post">
    Width <input type="number" value="200" name="width" min="0" max="1000" /><br />
    Height <input type="number" value="200" name="height" min="0" max="1000" /><br />
    Scale <input type="number" value="3" name="scale" min="0" max="100" /><br />
    Milis per step <input type="number" value="1" name="timescale" min="0" max="1600" /><br />
    Index zarodkow <input type="number" value="1" name="zarodki" min="1" /><br />
    Szansa na zarodki <input type="number" value="1" name="chance" min="1" max="1000" /><br />
    Wiersze <input type="number" value="10" name="wiersze" min="1" max="1000" />
    Kolumny <input type="number" value="10" name="kolumny" min="1" max="1000" /><br />
    kt <input type="number" value="2" name="kt" min="0.1" max="6" /><br />
    A <input type="number" value="86710969050178.5" name="a" /><br />
    B <input type="number" value="9.41268203527779" name="b" /><br />
    time step <input type="number" value="0.001" name="timestep" min="0" max="1000" /><br />

    Periodyczne <select name="periodyczne">
        <option value="tak">Tak</option>
        <option value="nie">Nie</option>
    </select><br />

    Zarodkowanie <select name="fill">
        <option value="random">Random</option>
        <option value="clean">Clean</option>
        <option value="jednorodne">Jednorodne</option>
    </select><br />

    Color <select name="colors">
        <option value="random">Random</option>
        <option value="rainbow">Rainbow</option>
    </select><br />

    Sąsiedztwo <select name="neighborhood">
        <option value="moore">Moore</option>
        <option value="vonNeumann">Von Neumann</option>
        <option value="penta">Pentagonalne losowe</option>
        <option value="heksa">Heksagonalne</option>
    </select><br />

    <input type="button" value="Start new" onclick="run()">
    <input type="button" value="Pause/Unpause" onclick="changecontin()">
    <input type="button" value="Dislocation" onclick="changeEnergyDraw()">
</form>

<canvas id="myCanvas" style="border:1px solid #000000;"></canvas>
<!--
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>
-->

<!--
script src=".\node_modules\chart.js\dist\Chart.js"></script>
-->
<script>
    let numberOfColors = 1;
    let gridHeight;
    let gridWidth;
    let scale;
    let chance;
    let theGrid;
    let timeScale;
    let zarodki;
    let colors = [];
    let colorsEnergy = [];
    let colorsDislocation = [];
    let color;
    let fill;
    let wiersze;
    let kolumny;
    let periodyczne;
    let neighborhood;
    let generated = false;
    let drawEnergy = false;
    let kt;
    let timeStep;
    let iteration;
    let criticalDislocation;
    let A, B;
    let sharePercent = 20;
    let canonShootPercent = 80;
    let dislocationPool;
    let totalDislocation = 0;
    let totalDislocationTab = [];
    let maxDislocation = 0;
    let maxColor = 0;
    let c = document.getElementById("myCanvas");
    //let ctxl = document.getElementById('myChart');
    c.addEventListener('click', on_canvas_click, false);
    let ctx = c.getContext("2d");
    let contin = true;
/*
    let chart = new Chart(ctxl, {
        type: 'line',
        data: {
            labels: totalDislocationTab,
            datasets: [{
                data: totalDislocationTab,
                label: "totalDislocation",
                borderColor: "#3e95cd",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'totalDislocation',
                responsive: true
            }
        }
    });

    chart.canvas.parentNode.style.height = '128px';
    chart.canvas.parentNode.style.width = '750px';
*/
    class cell {
        constructor(state = 0, color = 0, energy = 0, dislocation = 0, recrystallized = false, recrystallizedAtIteration = 0) {
            this.state = state;
            this.color = color;
            this.energy = energy;
            this.dislocation = dislocation;
            this.recrystallized = recrystallized;
            this.recrystallizedAtIteration = recrystallizedAtIteration;
        }
    }

    function changeEnergyDraw() {
        drawEnergy = !drawEnergy;
    }

    function on_canvas_click(ev) {

        let y = ev.clientX - c.offsetLeft;
        let x = ev.clientY - c.offsetTop;


        if (theGrid[parseInt(x / scale)][parseInt(y / scale)].state != 0) {
            theGrid[parseInt(x / scale)][parseInt(y / scale)].state = 0;
        } else {
            theGrid[parseInt(x / scale)][parseInt(y / scale)].state = parseInt(document.forms["form"]["zarodki"].value);
            numberOfColors++;
        }
        setColors(parseInt(document.forms["form"]["zarodki"].value));
        drawGrid();
    }

    function changecontin() {
        contin = !contin;
        timeScale = parseInt(document.forms["form"]["timescale"].value);
        periodyczne = document.forms["form"]["periodyczne"].value;
        neighborhood = document.forms["form"]["neighborhood"].value;
        if (contin) tick();
    }

    /*
                                    x-
                     x-     y-      |       x-  y+
                                    |
                y-  ------------------------------------  y+
                                    |
                     x+     y-      x+       x+  y+
                                    |
    
    
    */
    function run() {

        contin = false;
        generated = false;
        iteration = -1;
        setTimeout(changecontin, 100)
        scale = parseInt(document.forms["form"]["scale"].value);
        gridWidth = parseInt(document.forms["form"]["width"].value);
        gridHeight = parseInt(document.forms["form"]["height"].value);
        timeScale = parseInt(document.forms["form"]["timescale"].value);
        zarodki = parseInt(document.forms["form"]["zarodki"].value);
        chance = parseInt(document.forms["form"]["chance"].value);
        wiersze = parseInt(document.forms["form"]["wiersze"].value);
        kolumny = parseInt(document.forms["form"]["kolumny"].value);
        color = document.forms["form"]["colors"].value;
        fill = document.forms["form"]["fill"].value;
        periodyczne = document.forms["form"]["periodyczne"].value;
        neighborhood = document.forms["form"]["neighborhood"].value;
        kt = parseFloat(document.forms["form"]["kt"].value);
        A = parseFloat(document.forms["form"]["a"].value);
        B = parseFloat(document.forms["form"]["b"].value);
        timeStep = parseFloat(document.forms["form"]["timestep"].value);


        theGrid = createArray(gridHeight);
        colors = [];
        colorsEnergy = [];

        c.width = gridWidth * scale;
        c.height = gridHeight * scale;

        criticalDislocation = calculateRo(65) / (gridHeight * gridWidth);

        console.log(criticalDislocation);
        if (fill == "clean") {
            setTimeout(changecontin, 100)
        }

        fillGrid();
        setColors(numberOfColors);
        tick();
    }

    function tick() {
        //console.time("loop");
        if (!contin) {
            return;
        }
        //console.timeEnd("loop");

        if (!generated) {
            updateGrid();
        } else if (iteration == -1) {
            for (let i = 0; i < 10; i++) {
                updateGridMC(kt);
            }
            contin = false;
            iteration++;
        } else {
            totalDislocation = 0;
            maxDislocation = 0;
            dislocationPool = calculateRo(iteration) - calculateRo(iteration - 1);
            updateGridEnergy();
            cannon(iteration);
            recristalize(iteration);
            setColors(numberOfColors);

            iteration++;
            totalDislocationTab.push(totalDislocation);

            //chart.update();
            //console.log(totalDislocation);
            //console.log(numberOfColors);
            //console.log(iteration);
        }
        drawGrid();
        setTimeout(tick, timeScale);
        //requestAnimationFrame(tick);
    }

    function createArray(rows) {
        let arr = [];
        for (let i = 0; i < rows; i++) {
            arr[i] = [];
        }
        return arr;
    }

    function calculateRo(iteration) {
        return (A / B + (1 - A / B) * Math.exp(-B * (timeStep * iteration)));
    }

    function setColors(numberOfColors) {
        colorsEnergy = [];
        colorsDislocation = [];
        for (let i = 0; i < numberOfColors; i++) {
            if (color === "random") {
                colors.push(getRandomColor());

            } else {
                colors.push(rainbow(numberOfColors, i));
            }
        }

        colorsEnergy.push('#ffffff');
        for (let i = 0; i < numberOfColors; i++) {
            colorsEnergy.push(rainbow(numberOfColors * 5, i));
        }

        for (let i = 0; i < gridHeight * gridWidth; i++) {
            colorsDislocation.push(rainbow(numberOfColors, i));
        }
    }

    function cannon(iteration) {
        let averageDislocationPackage = dislocationPool / (gridHeight * gridWidth);

        let package = averageDislocationPackage * (sharePercent / 100);
        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                theGrid[j][k].dislocation += package;
                dislocationPool -= package;
            }
        }

        package = averageDislocationPackage * (canonShootPercent / 100);

        while (dislocationPool > 0) {
            let x = Math.floor(Math.random() * gridHeight);
            let y = Math.floor(Math.random() * gridWidth);

            if (theGrid[x][y].energy != 0) {
                if (Math.random() * 100 < 80) {
                    theGrid[x][y].dislocation += package;
                    dislocationPool -= package;
                }
            } else if (Math.random() * 100 < 20) {
                theGrid[x][y].dislocation += package;
                dislocationPool -= package;
            }
            if (theGrid[x][y].dislocation > criticalDislocation && theGrid[x][y].energy != 0) {
                if (theGrid[x][y].recrystallized != true) {
                    theGrid[x][y].recrystallized = true;
                    theGrid[x][y].recrystallizedAtIteration += iteration;
                    theGrid[x][y].dislocation = 0;
                    theGrid[x][y].state = numberOfColors + 1;
                    numberOfColors++;
                }
            }
        }
    }

    function recristalize(iteration) {

        let tempGrid = createArray(gridHeight);

        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                tempGrid[j][k] = new cell();
                tempGrid[j][k] = theGrid[j][k]
            }
        }


        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                totalDislocation += theGrid[j][k].dislocation;
                if (theGrid[j][k].dislocation > maxDislocation) maxDislocation = theGrid[j][k].dislocation;
                if (!theGrid[j][k].recrystallized) {
                    let willRecristalize = false;
                    let neighbours;
                    let neigbourState;
                    switch (neighborhood) {
                        case "vonNeumann":
                            neighbours = vonNeumannNeighbors(j, k);
                            a = 4;
                            break;
                        default:
                            neighbours = mooreNeighbors(j, k);
                            a = 8;
                            break;

                    }

                    for (let l = 0; l < a; l++) {
                        if (neighbours[l].recrystallized == true && neighbours[l].recrystallizedAtIteration == (iteration - 1)) {
                            willRecristalize = true;
                            neigbourState = neighbours[l].state;
                        }
                    }

                    if (willRecristalize) {
                        for (let l = 0; l < a; l++) {
                            if (neighbours[l].dislocation > theGrid[j][k].dislocation && neighbours[l].recrystallized == false) {
                                willRecristalize = false;
                            }
                        }
                    }

                    if (theGrid[j][k].energy != 0 && willRecristalize) {
                        tempGrid[j][k].recrystallized = true;
                        tempGrid[j][k].recrystallizedAtIteration += iteration;
                        tempGrid[j][k].dislocation = 0;
                        tempGrid[j][k].state = neigbourState;
                    }
                }
            }
        }
        theGrid = tempGrid;
    }

    function fillGrid() {

        numberOfColors = 1;
        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                if (fill == "clean") {
                    theGrid[j][k] = new cell(0, 0, 0);

                } else if (fill == "jednorodne") {
                    if ((j % Math.round(gridWidth / wiersze) == 0) && (k % Math.round(gridHeight / kolumny) == 0)) {
                        theGrid[j][k] = new cell(numberOfColors, numberOfColors, 0);
                        numberOfColors++;
                    } else {
                        theGrid[j][k] = new cell(0, 0, 0);
                    }
                } else {
                    theGrid[j][k] = new cell(Math.round(Math.random() * 10000), 0, 0)
                    if (theGrid[j][k].state > chance) {
                        theGrid[j][k].state = 0
                    } else {
                        theGrid[j][k].state = numberOfColors;
                        numberOfColors++;
                    }
                }
            }
        }
        maxColor = numberOfColors;
    }


    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function rainbow(numOfSteps, step) {
        // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
        // Adam Cole, 2011-Sept-14
        // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
        var r, g, b;
        var h = step / numOfSteps;
        var i = ~~(h * 6);
        var f = h * 6 - i;
        var q = 1 - f;
        switch (i % 6) {
            case 0: r = 1; g = f; b = 0; break;
            case 1: r = q; g = 1; b = 0; break;
            case 2: r = 0; g = 1; b = f; break;
            case 3: r = 0; g = q; b = 1; break;
            case 4: r = f; g = 0; b = 1; break;
            case 5: r = 1; g = 0; b = q; break;
        }
        var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
        return (c);
    }

    function scaleBetween(unscaledNum, minAllowed, maxAllowed, min, max) {
        return (maxAllowed - minAllowed) * (unscaledNum - min) / (max - min) + minAllowed;
    }

    function drawGrid() {
        ctx.clearRect(0, 0, gridWidth * scale, gridHeight * scale);
        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                if (!drawEnergy) {
                    if (theGrid[j][k].state != 0) {
                        if (theGrid[j][k].recrystallized == true) {
                            if (color === "random") {
                                ctx.fillStyle = colors[theGrid[j][k].state];
                            } else {
                                ctx.fillStyle = colorsDislocation[theGrid[j][k].state];
                            }

                        } else {
                            ctx.fillStyle = colors[theGrid[j][k].state];
                        }
                        ctx.fillRect(k * scale, j * scale, scale, scale);
                    }
                } else {
                    let a = Math.floor(scaleBetween(theGrid[j][k].dislocation, 0, numberOfColors, 0, maxDislocation));
                    ctx.fillStyle = colorsEnergy[a];
                    ctx.fillRect(k * scale, j * scale, scale, scale);
                }/*
                {
                    ctx.fillStyle = colorsEnergy[theGrid[j][k].energy];
                    ctx.fillRect(k * scale, j * scale, scale, scale);
                }
                */
            }
        }
    }

    /*
                                    x-
                     x-     y-      |       x-  y+
                                    |
                y-  ------------------------------------  y+
                                    |
                     x+     y-      x+       x+  y+
                                    |
    
    
    */

    function vonNeumannNeighbors(x, y) {

        let neighbours = [];

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie") {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1) {
                prevRow = 0;
            }
            if (prevCell == -1) {
                prevCell = 0;
            }
            if (nextRow == gridHeight) {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth) {
                nextCell = gridWidth - 1
            }
        }


        neighbours.push(theGrid[prevRow][currentCell]);

        neighbours.push(theGrid[currentRow][prevCell]);
        neighbours.push(theGrid[currentRow][nextCell]);

        neighbours.push(theGrid[nextRow][currentCell]);

        return neighbours;

    }

    function heksaNeighbors(x, y) {

        let neighbours = [];

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie") {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1) {
                prevRow = 0;
            }
            if (prevCell == -1) {
                prevCell = 0;
            }
            if (nextRow == gridHeight) {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth) {
                nextCell = gridWidth - 1
            }
        }

        let r = Math.round(Math.random() * 10) % 2;
        switch (r) {
            case 0:

                neighbours.push(theGrid[prevRow][currentCell]);
                neighbours.push(theGrid[prevRow][nextCell]);

                neighbours.push(theGrid[currentRow][prevCell]);
                neighbours.push(theGrid[currentRow][nextCell]);

                neighbours.push(theGrid[nextRow][prevCell]);
                neighbours.push(theGrid[nextRow][currentCell]);

                break;
            case 1:
                neighbours.push(theGrid[prevRow][prevCell]);
                neighbours.push(theGrid[prevRow][currentCell]);

                neighbours.push(theGrid[currentRow][prevCell]);
                neighbours.push(theGrid[currentRow][nextCell]);

                neighbours.push(theGrid[nextRow][currentCell]);
                neighbours.push(theGrid[nextRow][nextCell]);
                break;
        }
        return neighbours;

    }

    function pentaNeighbors(x, y) {

        let neighbours = []

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie") {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1) {
                prevRow = 0;
            }
            if (prevCell == -1) {
                prevCell = 0;
            }
            if (nextRow == gridHeight) {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth) {
                nextCell = gridWidth - 1
            }
        }

        let r = Math.round(Math.random() * 10) % 4;
        switch (r) {
            case 0:
                neighbours.push(theGrid[prevRow][prevCell]);
                neighbours.push(theGrid[prevRow][currentCell]);
                neighbours.push(theGrid[prevRow][nextCell]);

                neighbours.push(theGrid[currentRow][prevCell]);
                neighbours.push(theGrid[currentRow][nextCell]);
                break;
            case 1:
                neighbours.push(theGrid[currentRow][prevCell]);
                neighbours.push(theGrid[currentRow][nextCell]);

                neighbours.push(theGrid[nextRow][prevCell]);
                neighbours.push(theGrid[nextRow][currentCell]);
                neighbours.push(theGrid[nextRow][nextCell]);
                break;
            case 2:
                neighbours.push(theGrid[prevRow][prevCell]);
                neighbours.push(theGrid[prevRow][currentCell]);

                neighbours.push(theGrid[currentRow][prevCell]);

                neighbours.push(theGrid[nextRow][prevCell]);
                neighbours.push(theGrid[nextRow][currentCell]);
                break;
            case 3:
                neighbours.push(theGrid[prevRow][currentCell]);
                neighbours.push(theGrid[prevRow][nextCell]);

                neighbours.push(theGrid[currentRow][nextCell]);

                neighbours.push(theGrid[nextRow][currentCell]);
                neighbours.push(theGrid[nextRow][nextCell]);

                break;
        }
        return neighbours;

    }

    function mooreNeighbors(x, y) {

        let neighbours = [];

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie") {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1) {
                prevRow = 0;
            }
            if (prevCell == -1) {
                prevCell = 0;
            }
            if (nextRow == gridHeight) {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth) {
                nextCell = gridWidth - 1
            }
        }



        neighbours.push(theGrid[prevRow][prevCell]);
        neighbours.push(theGrid[prevRow][currentCell]);
        neighbours.push(theGrid[prevRow][nextCell]);

        neighbours.push(theGrid[currentRow][prevCell]);
        neighbours.push(theGrid[currentRow][nextCell]);

        neighbours.push(theGrid[nextRow][prevCell]);
        neighbours.push(theGrid[nextRow][currentCell]);
        neighbours.push(theGrid[nextRow][nextCell]);

        return neighbours;

    }

    function indexOfMax(arr) {
        if (arr.length === 0) {
            return -1;
        }

        var max = arr[0];
        var maxIndex = 0;

        for (var i = 1; i < arr.length; i++) {
            if (arr[i] > max) {
                maxIndex = i;
                max = arr[i];
            }
        }

        return maxIndex;
    }


    /**
    * Shuffles array in place.
    * @param {Array} a items An array containing the items.
    */
    function shuffle(a) {
        var j, x, i;
        for (i = a.length - 1; i > 0; i--) {
            j = Math.floor(Math.random() * (i + 1));
            x = a[i];
            a[i] = a[j];
            a[j] = x;
        }
        return a;
    }

    function getTotalEnergy() {
        totalEnergy = 0;
        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                switch (neighborhood) {
                    case "moore":
                        neighbours = mooreNeighbors(j1, k1);
                        a = 8;
                        break;
                    case "vonNeumann":
                        neighbours = vonNeumannNeighbors(j1, k1);
                        a = 4;
                        break;
                }

                let energy = 0;

                for (let l = 0; l < a; l++) {
                    if (neighbours[l].state != theGrid[j1][k1].state) energy++;
                }
                totalEnergy += energy;
            }
        }
        return totalEnergy;
    }

    function updateGridEnergy() {
        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                let neighbours;
                switch (neighborhood) {
                    case "vonNeumann":
                        neighbours = vonNeumannNeighbors(j, k);
                        a = 4;
                        break;
                    default:
                        neighbours = mooreNeighbors(j, k);
                        a = 8;
                        break;
                }
                let tempEnergy = 0;

                for (let l = 0; l < a; l++) {
                    if (neighbours[l].state != theGrid[j][k].state) tempEnergy++;
                }
                theGrid[j][k].energy = tempEnergy;
            }
        }
    }

    function updateGridMC(kt) {

        let shuffledGrid = [];
        let totalEnergy = 0;

        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                shuffledGrid.push({ j, k });
            }
        }
        shuffledGrid = shuffle(shuffledGrid);

        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                let neighbours;
                let jjj = shuffledGrid.shift();
                let j1 = jjj.j;
                let k1 = jjj.k;

                switch (neighborhood) {
                    case "vonNeumann":
                        neighbours = vonNeumannNeighbors(j1, k1);
                        a = 4;
                        break;
                    default:
                        neighbours = mooreNeighbors(j1, k1);
                        a = 8;
                        break;
                }

                let vault = new cell(theGrid[j1][k1].state, theGrid[j1][k1].color, theGrid[j1][k1].energy);
                let energy = vault.energy

                let alta = neighbours[Math.floor(Math.random() * (a))];

                theGrid[j1][k1].state = alta.state;
                theGrid[j1][k1].energy = alta.energy;

                let tempEnergy = 0;

                for (let l = 0; l < a; l++) {
                    if (neighbours[l].state != theGrid[j1][k1].state) tempEnergy++;
                }

                let dislocationPoolEnergy = tempEnergy - energy;

                if (dislocationPoolEnergy < 0) {
                    theGrid[j1][k1].energy = tempEnergy;
                } else if (Math.random() < Math.exp(-(dislocationPoolEnergy / kt))) {
                    theGrid[j1][k1].energy = tempEnergy;
                } else {
                    theGrid[j1][k1] = vault;
                }
                totalEnergy += theGrid[j1][k1].energy;
            }
        }
        //console.log(totalEnergy);
    }

    function getMostCommon(array) {
        var count = {};
        array.forEach(function (a) {
            count[a] = (count[a] || 0) + 1;
        });
        return Object.keys(count).reduce(function (r, k, i) {
            if (!i || count[k] > count[r[0]]) {
                return [k];
            }
            if (count[k] === count[r[0]]) {
                r.push(k);
            }
            return r;
        }, []);
    }

    function updateGrid() {

        let tempGrid = createArray(gridHeight);
        let numberOfNeighbours = 0;

        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                tempGrid[j][k] = new cell(0, 0, 0)
            }
        }

        for (let j = 0; j < gridHeight; j++) {
            for (let k = 0; k < gridWidth; k++) {
                if (theGrid[j][k].state != 0) {
                    tempGrid[j][k] = theGrid[j][k];
                } else {
                    let neighbours;
                    switch (neighborhood) {
                        case "moore":
                            neighbours = mooreNeighbors(j, k);
                            a = 8;
                            break;
                        case "vonNeumann":
                            neighbours = vonNeumannNeighbors(j, k);
                            a = 4;
                            break;
                        case "penta":
                            neighbours = pentaNeighbors(j, k);
                            a = 5;
                            break;
                        case "heksa":
                            neighbours = heksaNeighbors(j, k);
                            a = 6;
                            break;
                    }

                    let mostOf = [];

                    for (let l = 0; l < a; l++) {
                        if (neighbours[l].state != 0) {
                            mostOf.push(neighbours[l].state);
                        }
                    }

                    if (theGrid[j][k].state == 0 && mostOf.length > 0) {
                        tempGrid[j][k].state = parseInt(getMostCommon(mostOf)[0]);
                        numberOfNeighbours++;
                    } else {
                        tempGrid[j][k].state = theGrid[j][k].state;
                        numberOfNeighbours++;
                    }
                }
            }
        }

        theGrid = tempGrid;
        let totalEnergy = 0;

        if (numberOfNeighbours == 0) {
            for (let j = 0; j < gridHeight; j++) {
                for (let k = 0; k < gridWidth; k++) {
                    switch (neighborhood) {
                        case "moore":
                            neighbours = mooreNeighbors(j, k);
                            a = 8;
                            break;
                        case "vonNeumann":
                            neighbours = vonNeumannNeighbors(j, k);
                            a = 4;
                            break;
                        case "penta":
                            neighbours = pentaNeighbors(j, k);
                            a = 5;
                            break;
                        case "heksa":
                            neighbours = heksaNeighbors(j, k);
                            a = 6;
                            break;
                    }

                    for (let l = 0; l < a; l++) {
                        if (neighbours[l].state != theGrid[j][k].state) theGrid[j][k].energy++;
                    }
                    totalEnergy += theGrid[j][k].energy;
                }
            }
            //console.log(totalEnergy);
            changecontin();
            generated = true;
        }
    }

</script>