<form name="form" method="post">
    Width <input type="number" value="200" name="width" min="0" max="1000" /><br />
    Height <input type="number" value="200" name="height" min="0" max="1000" /><br />
    Scale <input type="number" value="3" name="scale" min="0" max="100" /><br />
    Milis per step <input type="number" value="1" name="timescale" min="0" max="1600" /><br />
    Index zarodkow <input type="number" value="1" name="zarodki" min="1" /><br />
    Szansa na zarodki <input type="number" value="10" name="chance" min="1" max="1000" /><br />
    Wiersze <input type="number" value="10" name="wiersze" min="1" max="1000" />
    Kolumny <input type="number" value="10" name="kolumny" min="1" max="1000" /><br />

    Periodyczne <select name="periodyczne">
        <option value="tak">Tak</option>
        <option value="nie">Nie</option>
    </select><br />

    Zarodkowanie <select name="fill">
        <option value="random">Random</option>
        <option value="clean">Clean</option>
        <option value="jednorodne">Jednorodne</option>
    </select><br />

    Color <select name="colors">
        <option value="random">Random</option>
        <option value="rainbow">Rainbow</option>
    </select><br />

    Sąsiedztwo <select name="neighborhood">
        <option value="vonNeumann">Von Neumann</option>
        <option value="moore">Moore</option>
        <option value="penta">Pentagonalne losowe</option>
        <option value="heksa">Heksagonalne</option>
    </select><br />

    Heksa type <select name="heksatype">
        <option value="losowe">losowe</option>
        <option value="lewe">lewe</option>
        <option value="prawe">prawe</option>
    </select><br />

    <input type="button" value="Start new" onclick="run()">
    <input type="button" value="Pause/Unpause" onclick="changecontin()">
</form>

<canvas id="myCanvas" style="border:1px solid #000000;"></canvas>

<script>
    let numberOfColors = 1;
    let gridHeight;
    let gridWidth;
    let scale;
    let chance;
    let theGrid;
    let timeScale;
    let zarodki;
    let colors = [];
    let color;
    let fill;
    let wiersze;
    let kolumny;
    let periodyczne;
    let neighborhood;
    let type;
    let c = document.getElementById("myCanvas");
    c.addEventListener('click', on_canvas_click, false);
    let ctx = c.getContext("2d");
    let contin = true;

    function on_canvas_click(ev) {

        let y = ev.clientX - c.offsetLeft;
        let x = ev.clientY - c.offsetTop;


        if (theGrid[parseInt(x / scale)][parseInt(y / scale)] != 0)
        {
            theGrid[parseInt(x / scale)][parseInt(y / scale)] = 0;
        } else
        {
            theGrid[parseInt(x / scale)][parseInt(y / scale)] = parseInt(document.forms["form"]["zarodki"].value);
            numberOfColors++;
        }
        setColors(parseInt(document.forms["form"]["zarodki"].value));
        drawGrid();
    }

    function changecontin() {
        contin = !contin;
        timeScale = parseInt(document.forms["form"]["timescale"].value);
        periodyczne = document.forms["form"]["periodyczne"].value;
        neighborhood = document.forms["form"]["neighborhood"].value;
        if (contin) tick();
    }

    /*
                                    x-
                     x-     y-      |       x-  y+
                                    |
                y-  ------------------------------------  y+
                                    |
                     x+     y-      x+       x+  y+
                                    |
    
    
    */
    function run() {

        contin = false;
        setTimeout(changecontin, 100)
        scale = parseInt(document.forms["form"]["scale"].value);
        gridWidth = parseInt(document.forms["form"]["width"].value);
        gridHeight = parseInt(document.forms["form"]["height"].value);
        timeScale = parseInt(document.forms["form"]["timescale"].value);
        zarodki = parseInt(document.forms["form"]["zarodki"].value);
        chance = parseInt(document.forms["form"]["chance"].value);
        wiersze = parseInt(document.forms["form"]["wiersze"].value);
        kolumny = parseInt(document.forms["form"]["kolumny"].value);
        color = document.forms["form"]["colors"].value;
        fill = document.forms["form"]["fill"].value;
        periodyczne = document.forms["form"]["periodyczne"].value;
        neighborhood = document.forms["form"]["neighborhood"].value;
        type = document.forms["form"]["heksatype"].value;


        theGrid = createArray(gridHeight);
        colors = [];

        c.width = gridWidth * scale;
        c.height = gridHeight * scale;

        if (fill == "clean")
        {
            setTimeout(changecontin, 100)
        }

        fillGrid();
        setColors(numberOfColors);
        tick();


    }

    function tick() {
        //console.time("loop");
        if (!contin)
        {
            return;
        }
        //console.timeEnd("loop");
        updateGrid();
        drawGrid();
        setTimeout(tick, timeScale);
        //requestAnimationFrame(tick);
    }

    function createArray(rows) {
        let arr = [];
        for (let i = 0; i < rows; i++)
        {
            arr[i] = [];
        }
        return arr;
    }

    function setColors(numberOfColors) {
        for (let i = 0; i < numberOfColors; i++)
        {
            if (color === "random")
            {
                colors.push(getRandomColor());

            } else
            {
                colors.push(rainbow(numberOfColors, i));
            }

        }
    }

    function fillGrid() {
        numberOfColors = 1;
        for (let j = 0; j < gridHeight; j++)
        {
            for (let k = 0; k < gridWidth; k++)
            {
                if (fill == "clean")
                {
                    theGrid[j][k] = 0;

                } else if (fill == "jednorodne")
                {
                    if ((j % Math.round(gridWidth / wiersze) == 0) && (k % Math.round(gridHeight / kolumny) == 0))
                    {
                        theGrid[j][k] = numberOfColors;
                        numberOfColors++;
                    } else
                    {
                        theGrid[j][k] = 0;
                    }
                } else
                {
                    theGrid[j][k] = Math.round(Math.random() * 10000);
                    if (theGrid[j][k] > chance)
                    {
                        theGrid[j][k] = 0
                    } else
                    {
                        theGrid[j][k] = numberOfColors;
                        numberOfColors++;
                    }
                }
            }
        }
    }


    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++)
        {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function rainbow(numOfSteps, step) {
        // This function generates vibrant, "evenly spaced" colours (i.e. no clustering). This is ideal for creating easily distinguishable vibrant markers in Google Maps and other apps.
        // Adam Cole, 2011-Sept-14
        // HSV to RBG adapted from: http://mjijackson.com/2008/02/rgb-to-hsl-and-rgb-to-hsv-color-model-conversion-algorithms-in-javascript
        var r, g, b;
        var h = step / numOfSteps;
        var i = ~~(h * 6);
        var f = h * 6 - i;
        var q = 1 - f;
        switch (i % 6)
        {
            case 0: r = 1; g = f; b = 0; break;
            case 1: r = q; g = 1; b = 0; break;
            case 2: r = 0; g = 1; b = f; break;
            case 3: r = 0; g = q; b = 1; break;
            case 4: r = f; g = 0; b = 1; break;
            case 5: r = 1; g = 0; b = q; break;
        }
        var c = "#" + ("00" + (~ ~(r * 255)).toString(16)).slice(-2) + ("00" + (~ ~(g * 255)).toString(16)).slice(-2) + ("00" + (~ ~(b * 255)).toString(16)).slice(-2);
        return (c);
    }

    function drawGrid() {
        ctx.clearRect(0, 0, gridWidth * scale, gridHeight * scale);
        for (let j = 0; j < gridHeight; j++)
        {
            for (let k = 0; k < gridWidth; k++)
            {
                if (theGrid[j][k] != 0)
                {
                    ctx.fillStyle = colors[theGrid[j][k]];
                    ctx.fillRect(k * scale, j * scale, scale, scale);
                }
            }
        }
    }

    /*
                                    x-
                     x-     y-      |       x-  y+
                                    |
                y-  ------------------------------------  y+
                                    |
                     x+     y-      x+       x+  y+
                                    |
    
    
    */

    function vonNeumannNeighbors(x, y) {

        let numberOfNeighbors = [numberOfColors + 1];
        for (let j = 0; j < numberOfColors + 1; j++)
        {
            numberOfNeighbors[j] = 0;
        }

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie")
        {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1)
            {
                prevRow = 0;
            }
            if (prevCell == -1)
            {
                prevCell = 0;
            }
            if (nextRow == gridHeight)
            {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth)
            {
                nextCell = gridWidth - 1
            }
        }


        numberOfNeighbors[theGrid[prevRow][currentCell]]++

        numberOfNeighbors[theGrid[currentRow][prevCell]]++
        numberOfNeighbors[theGrid[currentRow][nextCell]]++

        numberOfNeighbors[theGrid[nextRow][currentCell]]++


        return numberOfNeighbors;

    }

    function heksaNeighbors(x, y, type) {

        let numberOfNeighbors = [numberOfColors + 1];
        for (let j = 0; j < numberOfColors + 1; j++)
        {
            numberOfNeighbors[j] = 0;
        }

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie")
        {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1)
            {
                prevRow = 0;
            }
            if (prevCell == -1)
            {
                prevCell = 0;
            }
            if (nextRow == gridHeight)
            {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth)
            {
                nextCell = gridWidth - 1
            }
        }
        let r = 0;
        if (type == "losowe")
        {
            r = Math.round(Math.random() * 10) % 2;

        } else if (type == "lewe")
        {
            r = 0;
        } else if (type == "prawe")
        {
            r = 1;
        }
        switch (r)
        {
            case 0:

                numberOfNeighbors[theGrid[prevRow][currentCell]]++
                numberOfNeighbors[theGrid[prevRow][nextCell]]++

                numberOfNeighbors[theGrid[currentRow][prevCell]]++
                numberOfNeighbors[theGrid[currentRow][nextCell]]++

                numberOfNeighbors[theGrid[nextRow][prevCell]]++
                numberOfNeighbors[theGrid[nextRow][currentCell]]++

                break;
            case 1:
                numberOfNeighbors[theGrid[prevRow][prevCell]]++;
                numberOfNeighbors[theGrid[prevRow][currentCell]]++

                numberOfNeighbors[theGrid[currentRow][prevCell]]++
                numberOfNeighbors[theGrid[currentRow][nextCell]]++

                numberOfNeighbors[theGrid[nextRow][currentCell]]++
                numberOfNeighbors[theGrid[nextRow][nextCell]]++
                break;
        }
        return numberOfNeighbors;

    }

    function pentaNeighbors(x, y) {

        let numberOfNeighbors = [numberOfColors + 1];
        for (let j = 0; j < numberOfColors + 1; j++)
        {
            numberOfNeighbors[j] = 0;
        }

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie")
        {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1)
            {
                prevRow = 0;
            }
            if (prevCell == -1)
            {
                prevCell = 0;
            }
            if (nextRow == gridHeight)
            {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth)
            {
                nextCell = gridWidth - 1
            }
        }

        let r = Math.round(Math.random() * 10) % 4;
        switch (r)
        {
            case 0:
                numberOfNeighbors[theGrid[prevRow][prevCell]]++;
                numberOfNeighbors[theGrid[prevRow][currentCell]]++
                numberOfNeighbors[theGrid[prevRow][nextCell]]++

                numberOfNeighbors[theGrid[currentRow][prevCell]]++
                numberOfNeighbors[theGrid[currentRow][nextCell]]++
                break;
            case 1:
                numberOfNeighbors[theGrid[currentRow][prevCell]]++
                numberOfNeighbors[theGrid[currentRow][nextCell]]++

                numberOfNeighbors[theGrid[nextRow][prevCell]]++
                numberOfNeighbors[theGrid[nextRow][currentCell]]++
                numberOfNeighbors[theGrid[nextRow][nextCell]]++
                break;
            case 2:
                numberOfNeighbors[theGrid[prevRow][prevCell]]++;
                numberOfNeighbors[theGrid[prevRow][currentCell]]++

                numberOfNeighbors[theGrid[currentRow][prevCell]]++

                numberOfNeighbors[theGrid[nextRow][prevCell]]++
                numberOfNeighbors[theGrid[nextRow][currentCell]]++
                break;
            case 3:
                numberOfNeighbors[theGrid[prevRow][currentCell]]++
                numberOfNeighbors[theGrid[prevRow][nextCell]]++

                numberOfNeighbors[theGrid[currentRow][nextCell]]++

                numberOfNeighbors[theGrid[nextRow][currentCell]]++
                numberOfNeighbors[theGrid[nextRow][nextCell]]++

                break;
        }
        return numberOfNeighbors;

    }

    function mooreNeighbors(x, y) {

        let numberOfNeighbors = [numberOfColors + 1];
        for (let j = 0; j < numberOfColors + 1; j++)
        {
            numberOfNeighbors[j] = 0;
        }

        let prevRow = (x - 1 + gridHeight) % gridHeight;
        let currentRow = x % gridHeight;
        let nextRow = (x + 1) % gridHeight;

        let prevCell = (y - 1 + gridWidth) % gridWidth;
        let currentCell = y % gridWidth;
        let nextCell = (y + 1) % gridWidth;

        if (periodyczne == "nie")
        {
            prevRow = x - 1;
            currentRow = x;
            nextRow = x + 1;

            prevCell = y - 1;
            currentCell = y;
            nextCell = y + 1;

            if (prevRow == -1)
            {
                prevRow = 0;
            }
            if (prevCell == -1)
            {
                prevCell = 0;
            }
            if (nextRow == gridHeight)
            {
                nextRow = gridHeight - 1
            }
            if (nextCell == gridWidth)
            {
                nextCell = gridWidth - 1
            }
        }



        numberOfNeighbors[theGrid[prevRow][prevCell]]++;
        numberOfNeighbors[theGrid[prevRow][currentCell]]++
        numberOfNeighbors[theGrid[prevRow][nextCell]]++

        numberOfNeighbors[theGrid[currentRow][prevCell]]++
        numberOfNeighbors[theGrid[currentRow][nextCell]]++

        numberOfNeighbors[theGrid[nextRow][prevCell]]++
        numberOfNeighbors[theGrid[nextRow][currentCell]]++
        numberOfNeighbors[theGrid[nextRow][nextCell]]++

        return numberOfNeighbors;

    }

    function indexOfMax(arr) {
        if (arr.length === 0)
        {
            return -1;
        }

        var max = arr[0];
        var maxIndex = 0;

        for (var i = 1; i < arr.length; i++)
        {
            if (arr[i] > max)
            {
                maxIndex = i;
                max = arr[i];
            }
        }

        return maxIndex;
    }

    function updateGrid() {

        let tempGrid = createArray(gridHeight);

        for (let j = 0; j < gridHeight; j++)
        {
            for (let k = 0; k < gridWidth; k++)
            {
                if (theGrid[j][k] != 0)
                {
                    tempGrid[j][k] = theGrid[j][k];
                } else
                {
                    let numberOfNeighbors;
                    switch (neighborhood)
                    {
                        case "moore":
                            numberOfNeighbors = mooreNeighbors(j, k);
                            a = 8;
                            break;
                        case "vonNeumann":
                            numberOfNeighbors = vonNeumannNeighbors(j, k);
                            a = 4;
                            break;
                        case "penta":
                            numberOfNeighbors = pentaNeighbors(j, k);
                            a = 5;
                            break;
                        case "heksa":
                            numberOfNeighbors = heksaNeighbors(j, k, type);
                            a = 6;
                            break;

                    }

                    if (theGrid[j][k] == 0 && numberOfNeighbors[0] != a)
                    {
                        numberOfNeighbors.shift();
                        tempGrid[j][k] = indexOfMax(numberOfNeighbors) + 1;
                    } else
                    {
                        tempGrid[j][k] = theGrid[j][k];
                    }
                }
            }
        }
        theGrid = tempGrid;
    }

</script>